{{define "/web/_foot"}}
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md small">
                    <p class="d-block text-muted">Powered by Opsul</p>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="/humans.txt" target="_blank">Contributors</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="/api" target="_blank">API</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
{{end}}
